*{
    padding: 0;
    margin: 0;

}

nav{
    background-color: rgba(110, 110, 110, 0.925);
}

p,ul,li{
    font-size: 1.6vh;
}

li{
    padding: 1vh;
}

.logo{
    display:none;
}


.foot{
    height: 5vh;
    position:relative;
    width: auto;
    z-index: 500;
    background-color: antiquewhite;
}

.botonDown{
    height: 6vh;
    width: 6vh;
    position: sticky;
    z-index: 1000;
    bottom: 0;
    left:50%;
    
}

.QR{
    height: 30vh;
    width: auto;
    background-color: white;
}


.listadoDocumental{
    list-style:decimal;
}

.inicio{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size: auto;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

.queHacer{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size: auto;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

.documentacion{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size: auto;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

.servicios{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size:auto;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

.contactanos{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size: auto;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

.preguntasFrecuentes{
    height: 100vh;
    background-color:rgb(75, 75, 75);
    background-size: auto;
    background-blend-mode: multiply;
    border-bottom: 1px solid black;
}

@media (max-width: 720px){
    #tituloPag{
        text-align: center;
    }


    .inicio{
    background-image: url("../imagenes/car1m.jpg");

    }

    .queHacer{
    background-image: url("../imagenes/car2m.jpg");

    }

    .documentacion{
    background-image: url("../imagenes/car3m.jpg");

    }

    .servicios{
    background-image: url("../imagenes/car4m.jpg");

    }

    .contactanos{
    background-image: url("../imagenes/car5m.jpg");

    }

    .preguntasFrecuentes{
    background-image: url("../imagenes/car6m.jpg");

    }


    .textoIndex{
        height: 15vh;
        width: 45vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:70vh;
        margin:0 auto;
        color:white;
    
    }
    .textoQueHacer{
        height: 15vh;
        width: 45vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:40vh;
        margin:0 auto;
        color:white;
    
    }

    .textoDocumentacion{
        height: 15vh;
        width: 40vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:40vh;
        margin:0 auto;
        color:white;
    
    }

    .textoServicios{
        height: 15vh;
        width: 40vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:40vh;
        margin:0 auto;
        color:white;
    
    }

    .textoContacto{
        height: 15vh;
        width: 40vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:40vh;
        margin:0 auto;
        color:white;
    
    }

    .textoPreguntas{
        height: 15vh;
        width: 40vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:50vh;
        margin:0 auto;
        color:white;
    
    }
    .QRP{
        display: none;
    }

}





/* PARA PC */

@media (min-width: 721px){

    .logo15{
        display:none;

    }
    .logo{
        display:contents;
    }
    .inicio{
        background-image: url("../imagenes/car1.jpg");
    }
    
    .queHacer{
        background-image: url("../imagenes/car2.jpg");
    }
    
    .documentacion{
        background-image: url("../imagenes/car3.jpg");
    }
    
    .servicios{
        background-image: url("../imagenes/car4.jpg");
    }
    
    .contactanos{
        background-image: url("../imagenes/car5.jpg");
    }
    
    .preguntasFrecuentes{
        background-image: url("../imagenes/car6.jpg");
    }

    .textoIndex{
        height: 15vh;
        width:90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vh;
        position:relative;
        top:68vh;
        margin: 0 auto;
        color:white;       
    
    }

    .textoQueHacer{
        height: 15vh;
        width: 90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:40vh;
        margin:0 auto;
        color:white;
    
    }

    .textoDocumentacion{
        height: 15vh;
        width: 90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:35vh;
        margin:0 auto;
        color:white;
    
    }

    .textoServicios{
        height: 15vh;
        width: 90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:70vh;
        margin:0 auto;
        color:white;
    
    }

    .textoContacto{
        height: 15vh;
        width: 90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:50vh;
        margin:0 auto;
        color:white;
    
    }

    .textoPreguntas{
        height: 15vh;
        width: 90vh;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:relative;
        top:50vh;
        margin:0 auto;
        color:white;
    
    }
    .QRPM{
        display: none;
    }
}